.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
}

.contacts--index {
  background-color: #ffffff;
}

.contacts iframe {
  border: none;
  display: block;
  width: 100%;
  height: 362px;
}

.contacts__title {
  color: #111111;
  font-family: $accent-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
}

.contacts__address {
  color: $back-color;
  font-family: $base-font;
  font-size: 14px;
  line-height: 143%;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__city {
    margin-top: 10px;
  }
}


@media (min-width: $tablet-width) {
  .contacts__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 60px 70px;
    gap: 300px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-family: $accent-font;
    color: #111111;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .contacts iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    gap: 87px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-left: 80px;
  }
}
