.extra-info {
  border-top: 1px solid #d9d9d9;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.extra-info__card {
  padding: 12px 0 18px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "subtitle subtitle"
    "text price"
    "button button";
  border-bottom: 1px solid #cdcdcd;
}

.extra-info__title {
  color: $side-color;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 36px;
}

.extra-info__subtitle {
  color: #222222;
  font-family: $accent-font;
  grid-area: subtitle;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.extra-info__text {
  color: $back-color;
  font-family: $base-font;
  grid-area: text;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
  margin: 0;
}

.extra-info__text-price {
  color: $back-color;
  font-family: $base-font;
  grid-area: price;
  text-align: right;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
}

.extra-info__list {
  @include list-reset;
}

.extra-info__item:first-child {
  .extra-info__card {
    border-top: 1px solid #cdcdcd;
  }
}

.extra-info__button {
  grid-area: button;
  margin-top: 16px;
  padding: 10px 20px;
  font-family: $accent-font;
  color: $fancy-color;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #6bd738;
  width: 100%;
}

.extra-info__button:hover {
  background-color: #5eaa2f;
}

.extra-info__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .extra-info {
    border-top: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 39px;
    padding-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .extra-info__card {
    grid-template-columns: 1fr 1fr 90px;
    grid-template-areas:
      "subtitle text price"
      "button button button";
    align-items: center;
    padding: 26px 37px 28px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .extra-info__text-price {
    grid-area: price;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: $tablet-width) {
  .extra-info__text {
    grid-area: text;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .extra-info__title {
    font-size: 36px;
    line-height: 100%;
    padding-left: 40px;
    margin-bottom: 80px;
  }
}

@media (min-width: $tablet-width) {
  .extra-info__subtitle {
    grid-area: subtitle;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .extra-info__button {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .extra-info__button {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra-info {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-template-areas:
      "title title"
      "list aside";
    gap: 0 80px;
    padding: 45px 110px 87px;
  }
}

@media (min-width: $desktop-width) {
  .extra-info__card {
    grid-template-columns: 1fr 145px 100px 245px;
    grid-template-areas: "subtitle text price button";
    gap: 40px;
    border-left: none;
    border-right: none;
    padding: 15px 0 16px;
  }
}

@media (min-width: $desktop-width) {
  .extra-info__text-price {
    grid-area: price;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: $desktop-width) {
  .extra-info__text {
    grid-area: text;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra-info__title {
    grid-area: title;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra-info__subtitle {
    grid-area: subtitle;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
  }
}
