.form-data {
  color: $side-color;
  font-family: $accent-font;
}

.form-data__wrapper {
  display: grid;
  gap: 20px;
  text-align: center;
  padding: 23px 20px 13px;
}

.form-data__text {
  font-family: $base-font;
  color: $side-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form-data__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 0 70px 43px;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .form-data__text {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}
