.logo {
  display: flex;
  align-items: center;
  gap: 56px;
}

@media (min-width: $tablet-width) {
  .logo {
    gap: 13px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    height: 50px;
  }
}
