.page__body {
  margin: 0;
  font-family: "Lato", sans-serif;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
