.quantity__title {
  background-color: #111111;
  font-family: $accent-font;
}

.quantity__text {
  background-color: $back-color;
  font-family: $base-font;
}

.quantity__button {
  background-color: #f2f2f2;
  font-family: $accent-font;
}
