.transfer {
  border-top: 1px solid #d9d9d9;
  padding-top: 30px;
}

.transfer__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img    text"
    "button button";
  padding: 20px 20px 24px;
  border-top: 1px solid #d9d9d9;

  &--more {
    grid-template-columns: 1fr;
    grid-template-areas:
      "subtitle"
      "text"
      "button";
    text-align: center;
    padding-top: 80px;
    background-image: url("../../images/plus.svg");
    background-repeat: no-repeat;
    background-position: center top 25px;

    .transfer__subtitle {
      max-width: initial;
      margin: 0;
      margin-bottom: 8px;
    }

    .transfer__text {
      grid-template-columns: 1fr;
      margin: 0;
    }

    .transfer__button {
      background-color: #f2f2f2;
      color: $back-color;
    }
  }
}


.transfer__pic {
  grid-area: img;
  place-self: center;
}

.transfer__info {
  grid-area: text;
}

.transfer__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $back-color;
  font-family: $base-font;
  line-height: 16px;
  font-size: 12px;

  dd {
    margin: 0;
    text-align: right;
  }
}

.transfer__subtitle {
  grid-area: subtitle;
  color: $special-color;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;
}

.transfer__button-all {
  grid-area: button;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: $accent-font;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  color: #444444;
}

.transfer__button {
  grid-area: button;
  margin-top: 17px;
  padding: 10px 20px;
  font-family: $accent-font;
  color: $fancy-color;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  background-color: #6bd738;
}

.transfer__button:hover {
  background-color: #5eaa2f;
}

.transfer__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.transfer__button-all:hover {
  background-color: #ebebeb;
}

.transfer__button-all:active {
  background-color: #ebebeb;
}

.transfer__headline {
  color: $special-color;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 37px;
}

.transfer__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .transfer {
    border-top: none;
    padding: 55px 30px 30px;
  }
}

@media (min-width: $tablet-width) {
  .transfer__pic {
    margin-bottom: 22px;
  }
}

@media (min-width: $tablet-width) {
  .transfer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: $tablet-width) {
  .transfer__card {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text"
      "button";
    background-image: linear-gradient(#ffffff, #ffffff 81px, #f2f2f2 81px, #f2f2f2);
    padding: 10px 37px 40px;
    border-top: none;

    &--more {
      grid-template-columns: 1fr;
      grid-template-areas:
        "subtitle"
        "text"
        "button";
      text-align: center;
      padding-top: 160px;
      background-image: url("../../images/plus.svg");
      background-repeat: no-repeat;
      background-position: center top 50px;
      border: 1px solid #d3d3d3;
      margin-top: 80px;

      .transfer__subtitle {
        max-width: 145px;
        margin-bottom: 22px;
      }

      .transfer__text {
        grid-template-columns: 1fr;
        max-width: 180px;
        justify-self: center;
        margin-bottom: 50px;
      }

      .transfer__button {
        background-color: #f2f2f2;
        color: $back-color;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .transfer__button {
    margin-top: 29px;
  }
}


@media (min-width: $tablet-width) {
  .transfer__button-all {
    margin-top: 29px;
  }
}

@media (min-width: $tablet-width) {
  .transfer__headline {
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 84px;
  }
}

@media (min-width: $tablet-width) {
  .transfer__subtitle {
    justify-self: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 150px;
  }
}

@media (min-width: $tablet-width) {
  .transfer__card {
    &--more {
      background-image: url("../../images/desktop-plus.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .transfer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;

    dt {
      border-bottom: 1px solid #d9d9d9;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    dd {
      border-bottom: 1px solid #d9d9d9;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .transfer {
    padding: 18px 110px 30px;
  }
}

@media (min-width: $desktop-width) {
  .transfer__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}

@media (min-width: $desktop-width) {
  .transfer__pic {
    margin-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .transfer__subtitle {
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .transfer__button {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .transfer__button-all {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .transfer__card {
    &--more {
      padding-top: 150px;
    }
  }
}
